/* colors */
$bg-color: linear-gradient(180deg, #2E6BDB 0%, #5588DC 100%);
$bg-color2: linear-gradient(180deg, #F7FAFF 0%, #F7FAFF 100%);
$btn-color-blue: linear-gradient(90deg, #3379F7 0%, #689CFF 100%);
$btn-color-red: linear-gradient(90deg, #F12545 0%, #FD5326 100%);
$color-FFF: #FFFFFF;
$color-CFC: #CFCFCF;
$color-B8B: #B8B8B8;
$color-F0F: #F0F4FA;
$color-F5F: #F5F5F5;
$color-707: #707070;
$color-808: #808080;
$color-D1D: #D1D1D1;
$color-A8A: #A8A8A8;
$color-333: #333333;
$color-101: #101010;
$color-C5D: #C5DCFF;
$color-F7F: #F7FAFF;
$color-788: #7889A6;
$color-3A7: #3A74DB;
$color-498: #4987F9;
$color-107: #1070D4;
$color-619: #6197FE;
$color-367: #3671DB;
$color-66C: #66C8FF;
$color-2E6: #2E6BDB;
$color-FF2: #FF2040;
$color-F02: #F02645;
$color-20C: #20CE7D;
$color-FC4: #FC4D2A;

/* font */
/* 400 */
$font10-400: 400 10px PingFang SC-Bold, PingFang SC;
$font11-400 : 400 11px PingFang SC-Bold, PingFang SC;
$font12-400 : 400 12px PingFang SC-Bold, PingFang SC;
$font13-400 : 400 13px PingFang SC-Bold, PingFang SC;
$font14-400 : 400 14px PingFang SC-Bold, PingFang SC;
$font15-400 : 400 15px PingFang SC-Bold, PingFang SC;
$font16-400 : 400 16px PingFang SC-Bold, PingFang SC;
$font17-400 : 400 17px PingFang SC-Bold, PingFang SC;
$font18-400 : 400 18px PingFang SC-Bold, PingFang SC;
$font19-400 : 400 19px PingFang SC-Bold, PingFang SC;
$font20-400 : 400 20px PingFang SC-Bold, PingFang SC;
$font22-400 : 400 22px PingFang SC-Bold, PingFang SC;
$font24-400 : 400 24px PingFang SC-Bold, PingFang SC;
$font26-400 : 400 26px PingFang SC-Bold, PingFang SC;
$font28-400 : 400 28px PingFang SC-Bold, PingFang SC;
$font30-400 : 400 30px PingFang SC-Bold, PingFang SC;
/* 500 */
$font10-500: 500 10px PingFang SC-Bold, PingFang SC;
$font11-500: 500 11px PingFang SC-Bold, PingFang SC;
$font12-500: 500 12px PingFang SC-Bold, PingFang SC;
$font13-500: 500 13px PingFang SC-Bold, PingFang SC;
$font14-500: 500 14px PingFang SC-Bold, PingFang SC;
$font15-500: 500 15px PingFang SC-Bold, PingFang SC;
$font16-500: 500 16px PingFang SC-Bold, PingFang SC;
$font17-500: 500 17px PingFang SC-Bold, PingFang SC;
$font18-500: 500 18px PingFang SC-Bold, PingFang SC;
$font19-500: 500 19px PingFang SC-Bold, PingFang SC;
$font20-500: 500 20px PingFang SC-Bold, PingFang SC;
$font22-500: 500 22px PingFang SC-Bold, PingFang SC;
$font23-500: 500 23px PingFang SC-Bold, PingFang SC;
$font24-500: 500 24px PingFang SC-Bold, PingFang SC;
$font26-500: 500 26px PingFang SC-Bold, PingFang SC;
$font28-500: 500 28px PingFang SC-Bold, PingFang SC;
$font30-500: 500 30px PingFang SC-Bold, PingFang SC;
$font35-500: 500 35px PingFang SC-Bold, PingFang SC;

/* 700 */
$font10-700: 700 10px PingFang SC-Bold, PingFang SC;
$font11-700: 700 11px PingFang SC-Bold, PingFang SC;
$font12-700: 700 12px PingFang SC-Bold, PingFang SC;
$font13-700: 700 13px PingFang SC-Bold, PingFang SC;
$font14-700: 700 14px PingFang SC-Bold, PingFang SC;
$font15-700: 700 15px PingFang SC-Bold, PingFang SC;
$font16-700: 700 16px PingFang SC-Bold, PingFang SC;
$font17-700: 700 17px PingFang SC-Bold, PingFang SC;
$font18-700: 700 18px PingFang SC-Bold, PingFang SC;
$font19-700: 700 19px PingFang SC-Bold, PingFang SC;
$font20-700: 700 20px PingFang SC-Bold, PingFang SC;
$font22-700: 700 22px PingFang SC-Bold, PingFang SC;
$font23-700: 700 23px PingFang SC-Bold, PingFang SC;
$font24-700: 700 24px PingFang SC-Bold, PingFang SC;
$font26-700: 700 26px PingFang SC-Bold, PingFang SC;
$font28-700: 700 28px PingFang SC-Bold, PingFang SC;
$font30-700: 700 30px PingFang SC-Bold, PingFang SC;
/* bold */
$font10-bold: bold 10px PingFang SC-Bold, PingFang SC;
$font11-bold: bold 11px PingFang SC-Bold, PingFang SC;
$font12-bold: bold 12px PingFang SC-Bold, PingFang SC;
$font13-bold: bold 13px PingFang SC-Bold, PingFang SC;
$font14-bold: bold 14px PingFang SC-Bold, PingFang SC;
$font15-bold: bold 15px PingFang SC-Bold, PingFang SC;
$font16-bold: bold 16px PingFang SC-Bold, PingFang SC;
$font17-bold: bold 17px PingFang SC-Bold, PingFang SC;
$font18-bold: bold 18px PingFang SC-Bold, PingFang SC;
$font19-bold: bold 19px PingFang SC-Bold, PingFang SC;
$font20-bold: bold 20px PingFang SC-Bold, PingFang SC;
$font22-bold: bold 22px PingFang SC-Bold, PingFang SC;
$font24-bold: bold 24px PingFang SC-Bold, PingFang SC;
$font26-bold: bold 26px PingFang SC-Bold, PingFang SC;
$font28-bold: bold 28px PingFang SC-Bold, PingFang SC;
$font30-bold: bold 30px PingFang SC-Bold, PingFang SC;
