@import '@/assets/css/common.scss';

.container {
  width: 100%;
  height: calc(100vh - 45px);
  background: #F5F5F5;
  overflow: hidden;
  overflow-y: auto;
  padding: 12px 16px;
  color: #808080;

  .notice-box {
    padding: 12px;
    border-radius: 8px;
    font: $font13-500;
    line-height: 1.6;
    color: #0080E4;
    background: url(@/assets/img/address/background.png);
    background-size: cover;
    flex-shrink: 0;
  }

  .order-status {
    margin-top: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font: $font14-500;

    .status {
      color: #FD412B;
    }
  }

  .info-card {
    margin-top: 10px;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 10px;
  
    .info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 16px;
      
      .info-title {
        display: flex;
        align-items: center;
        gap: 6px;
        
        .check-icon {
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
        
        span {
          font: $font14-500;
          color: #0080E4FF;
        }
      }
      
      .contact-btn {
        background: #0080E4;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 3px 12px;
        cursor: pointer;
        font: $font14-500;
        
        &:active {
          opacity: 0.8;
        }
      }
    }
    
    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      font: $font13-500;
      border-bottom: 1px solid #eeeeee;
      
      .info-label {
        color: #666;
      }
      
      .info-value {
        color: #0080E4;
      }
    }
  }

  .order-card {
    margin-top: 10px;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 10px;
    
    .order-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      font: $font13-500;
      border-bottom: 1px solid #eeeeee;
      
      .order-label {
        color: #666;
      }
      
      .order-value {
        color: #666;
        display: flex;
        align-items: center;

        .copy {
          margin-left: 5px;
          width: 12px;
          height: 12px;
        }

        .voucher {
          margin-left: 5px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .bottom {
    margin: 10px auto;
    width: 340px;
    padding-bottom: 10px;
    border-radius: 10px;

    .btn-box {
      display: flex;
      align-items: center;
      justify-content: center;
      .botton {
        margin: 20px auto 0 auto;
        width: 225px;
        height: 40px;
        border-radius: 23px;
        background: $btn-color-blue;
        color: $color-FFF;
        text-align: center;
        font: $font16-400;
        line-height: 40px;
      }

      .cancel {
        margin: 20px auto 0 auto;
        padding: 0 10px;
        height: 40px;
        border-radius: 23px;
        background: $color-FFF;
        border: 1px solid $color-498;
        color: $color-498;
        text-align: center;
        font: $font16-400;
        line-height: 40px;
      }
    }

    .service {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: $font13-400;

      span:nth-child(1) {
        color: $color-808;
      }

      span:nth-child(2) {
        margin-left: 3px;
        color: $color-619;
      }
    }
  }
}